
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
  }

  logo {
  font-family: 'Megrim', cursive;
  }
  
  .header {
    text-align: center;
    padding: 32px;
    width: 100%;
  }

.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
  position: relative;
  margin-left: 15%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.img-magnifier-container {
  position:relative;
}


/* image glass */
/* ======================= */
.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 150px;
  height: 150px;
}


.btn {
  width: 100px;
  height: 50px;
  position: relative;
}

.container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.img-thumbnail {
  width: 200px;
  height: 200px;
}

  /* desktop browsers */
  @media screen and (min-width: 641px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  } 
  
/* phone screens */
  @media screen and (max-width: 640px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  } 

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
  }

  .sticky-top {
    width: 100%;
  }